
.main-container {
  font-family: 'Source Code Pro', monospace;
}

.name-container {
  font-size: 4em;
  color: indigo;
}

.description-container {
  font-size: 2em;
  color: white;
}

@media screen and (max-width: 400px) {

  .name-container {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
  }

  .description-container {
    margin: 0;
    font-size: 1.4em;
  }
}